h2 {
    margin: 20px 0;
}

.add-client-link {
    display: block;
    width: max-content;

    p {
        width: max-content;
        margin: 10px 0 30px;
        padding: 10px;

        color: #ffffff;
        background: #607d8b;
        box-shadow: 0 0 2px 0 #607d8b;
        transition: all .2s ease-in-out;
    }
    p:hover {
        background: #009688;
        box-shadow: 0 0 2px 0 #009688;
    }
}

.clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

    @media screen and (max-width: 1023px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
    }

    li {
        position: relative;
        display: grid;
        align-items: center;

        a {
            padding: 15px;

            background-color: #606369;
            box-shadow: 0 0 2px 0 #606369;
            color: inherit;

            transition: all 0.2s ease-in-out;

            span {
                font-size: 20px;
                text-transform: uppercase;
                font-weight: lighter;
            }
            p {
            }
        }
        a:hover {
            color: #ffffff;
            background: #009688;
            box-shadow: 0 0 2px 0 #009688;
            cursor: pointer;
        }

        .delete {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0px 6px;

            background: none;
            border: none;
            outline: none;

            font-size: 22px;
            color: #adaaaa;
        }
        .delete:hover {
            cursor: pointer;
            transform: scale(1.1);
            color: #c34a4a;
        }
    }
}

.loading {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}