h2 {
    margin: 20px 0;
}

.add-todo-link {
    display: block;
    width: max-content;

    p {
        width: max-content;
        margin: 10px 0 30px;
        padding: 10px;

        color: #ffffff;
        background: #607d8b;
        box-shadow: 0 0 2px 0 #607d8b;
        transition: all .2s ease-in-out;
    }
    p:hover {
        background: #009688;
        box-shadow: 0 0 2px 0 #009688;
    }
}

.todos-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    @media screen and (max-width: 1023px) {
        grid-template-columns: 1fr;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px;

        background-color: #606369;
        box-shadow: 0 0 2px 0 #606369;
        transition: all 0.2s ease-in-out;
        font-size: 18px;

        span {
            display: flex;
            align-items: center;
            p {
                margin: 0 0 0 10px;
                strong {
                    margin: 0 15px 0 5px;
                }
            }
        }

        .done {
            p {
                text-decoration: line-through;
                color: #9e9e9e;
            }
        }

        .todo-delete {
            padding: 4px 8px;

            border: none;
            color: #ffffff;
            background-color: #333333ce;
            box-shadow: 0 0 2px 0 #333333ce;

            font-size: 12px;
            font-weight: bold;

            transition: all 0.2s ease-in-out;
        }
        .todo-delete:hover {
            cursor: pointer;
            color: #c34a4a;
            background-color: #eeeeee;
            box-shadow: 0 0 2px 0 #eeeeee;
            transform: scale(1.1);
        }
    }
    li:hover {
        background: #009688;
        box-shadow: 0 0 2px 0 #009688;
    }
}

.no-todos {
    text-align: center;
    margin: 40px 0;

    p {
        margin: 0 0 20px 0;
        font-size: 18px;
        font-weight: bold;
        color: gray;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        transition: all 0.2s ease-in-out;
    }
    img:hover {
        transform: scale(1.1);
    }
}

.loading {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}
