<div *ngIf="!showSpinner">
    
    <h2>Todos:</h2>

    <a class="add-todo-link" routerLink="/dashboard/todos/add-todo">
        <p>Add new todo</p>
    </a>

    <router-outlet></router-outlet>

    <ul class="todos-list" *ngIf='todos?.length > 0; else noTodos'>
        <li *ngFor='let todo of todos'>
            <span [class.done]='todo.completed'>
                <input type="checkbox" [checked]='todo.completed' (change)='onChange(todo)'>
                <p><strong> {{ todo.title }} </strong> {{ todo.description }} </p>
            </span>
            <span>
                <button class="todo-delete" (click)='deleteTodo(todo)'>
                    x
                </button>
            </span>
        </li>
    </ul>

    <ng-template #noTodos>
        <div class="no-todos">
            <p>No todos now</p>
            <img src="../../../assets/images/clipart2560733.png"
                 title='Do you want add new todo?' />
        </div>
    </ng-template> 

</div>

<app-loading-spinner *ngIf="showSpinner" class="loading"></app-loading-spinner>

