<div>
    
    <div class="todo-add">
        <h2>Todos:</h2>
        <span>
            <form (ngSubmit)="onSubmit()">
                <div>
                    <label>Title:
                        <input [(ngModel)]='todo.title' name="title" />
                    </label>
                </div>
                <div>
                    <label>Description:
                        <input [(ngModel)]='todo.description' name="description" />
                    </label>
                </div>
                <input type="submit" value="Add" class="todo-add-btn" />
            </form>
        </span>
    </div>

    <ul class="todos-list" *ngIf='todos?.length > 0; else noTodos'>
        <li *ngFor='let todo of todos'>
            <span [class.done]='todo.completed'>
                <input type="checkbox" [checked]='todo.completed' (change)='onChange(todo)'>
                <p><strong> {{ todo.title }} </strong> {{ todo.description }} </p>
            </span>
            <span>
                <button class="todo-delete" (click)='deleteTodo($event, todo)'>
                    x
                </button>
            </span>
        </li>
    </ul>

    <ng-template #noTodos>
        <div class="no-todos">
            <p>No todos now</p>
            <img src="../../../assets/images/clipart2560733.png"
                 title='Do you want add new todo?' />
        </div>
    </ng-template> 

</div>

