<div *ngIf="!showSnippet" [class.opened]="condition" class="dashboard">

    <header>
        <div class="header">
            <div (click)="onToggle()" class="burger">
                |||
            </div>
            <div class="auth-user">
                <div class="logined" *ngIf="auth.user$ | async as user">
                    <div class="user-bar">
                        <h4> {{ user.displayName | uppercase }} </h4>
                        <div class="logo">
                            <img [src]="user.photoURL" />
                        </div>
                    </div>
                    <button (click)="auth.signOut()">Sign Out</button>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <app-sidebar></app-sidebar>
    </nav>

    <main class="container">
        <router-outlet></router-outlet>
    </main>

</div>

<app-loading-spinner *ngIf="showSnippet" class="loading"></app-loading-spinner>