.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h3 {
        text-align: center;
        margin: 15px 0;
    }

    .left-side {
        flex-basis: 60%;
    }
    .right-side {
        flex-basis: 40%;
        padding: 0 0 0 30px;
    }

    a {
        color: inherit;
    }

    .top-clients {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);

        a {
            padding: 2rem;

            background-color: #ebebeb;
            box-shadow: 0 0 2px 0 #ebebeb;
            text-align: center;
            transition: all 0.2s ease-out;
        }
        a:hover {
            transform: scale(1.05);
            color: #ffffff;
            background-color: #7383ca;
            box-shadow: 0 0 2px 0 #7383ca;
        }
        h4 {
            font-size: 18px;
        }
    }

    .active-todos {

        ul {
            width: 100%;
        }

        li {
            padding: 10px;
            margin: 0 0 10px 0;
            flex: 1 1 auto;

            background-color: #f0f0f0;
            box-shadow: 0 0 2px 0 #f0f0f0;
            transition: all 0.2s ease-in-out;
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1024px) {
        .left-side,
        .right-side {
            padding: 0;
            flex-basis: 100%;
        }
    }
    @media screen and (max-width: 620px) {
        .top-clients {
            grid-template-columns: repeat(2, 1fr);

            a {
                padding: 1.5rem;
            }
        }
    }
    @media screen and (max-width: 480px) {
        .top-clients {
            grid-template-columns: 1fr;

            a {
                padding: 1rem;
            }
        }
    }
}

.done {
    text-decoration: line-through;
    color: #dd9090;
}

.no-todos {
    text-align: center;
    margin: 40px 0;

    p {
        margin: 0 0 20px 0;
        font-size: 18px;
        font-weight: bold;
        color: gray;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        transition: all .2s ease-in-out;
    }
    img:hover {
        transform: scale(1.1);
    }
}
