.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-around;

    a {
        flex-basis: 33.333%;
        padding: 10px;

        text-transform: uppercase;
        text-align: center;
        font-weight: 600;

        color: #f0f0f0;
        background: #9c27b078;
        transition: all .2s ease-in-out;
    }

    a:hover {
        color: #ffffff;
        background: #7383ca;
    }

    .active {
        background: #7383ca;
    }
}

.auth-user {
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;

    .logined {
        display: flex;
        align-items: center;

        button {
            background: #c34a4a;
            border: none;
            padding: 5px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }

        .user-bar {
            display: flex;
            align-items: center;

            h4 {
                margin-right: 15px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #ded4d4;
            }

            .logo {
                width: 28px;
                height: 28px;
                margin-right: 15px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }    
}

#login {
    background: #c34a4abb;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
#login:hover {
    background: #c34a4a;
}