<div *ngIf="!showSpinner">

    <div class="client-title">
        <h2>{{ client.firstName }} {{ client.lastName }}</h2>
        <div class="btns-arr">
            <input *ngIf="editState" (click)="updateClient()" class="update-btn" type="submit" value="Save">
            <a (click)="editItem()" class="edit" >Edit</a>
            <button (click)="goBack()" class="go-back">go back</button>
        </div>
    </div>

    <div class="client-card">

        <div class="client-state-info">
            <div class="client-label">
                <span>First name:</span>
                <p>{{ client.firstName }}</p>
            </div>

            <div *ngIf="editState" class="update-client">
                <input [(ngModel)]="client.firstName" name="firstName">
            </div>
        </div>
        <div class="client-state-info">
            <div class="client-label">
                <span>Last name:</span>
                <p>{{ client.lastName }}</p>
            </div>

            <div *ngIf="editState" class="update-client">
                <input [(ngModel)]="client.lastName" name="lastName">
            </div>
        </div>
        <div class="client-state-info">
            <div class="client-label">
                <span>Nick name:</span>
                <p>{{ client.nickName }}</p>
            </div>

            <div *ngIf="editState" class="update-client">
                <input [(ngModel)]="client.nickName" name="nickName">
            </div>
        </div>
        <div class="client-state-info">
            <div class="client-label">
                <span>Email:</span>
                <p>{{ client.email }}</p>
            </div>

            <div *ngIf="editState" class="update-client">
                <input [(ngModel)]="client.email" name="email">
            </div>
        </div>
        <div class="client-state-info">
            <div class="client-label">
                <span>Phone:</span>
                <p>{{ client.phone }}</p>
            </div>

            <div *ngIf="editState" class="update-client">
                <input [(ngModel)]="client.phone" name="phone">
            </div>
        </div>
        <div class="client-state-info">
            <div class="client-label">
                <span>Profession:</span>
                <p>{{ client.profession }}</p>
            </div>

            <div *ngIf="editState" class="update-client">
                <input [(ngModel)]="client.profession" name="profession">
            </div>
        </div>
        
    </div>

</div>

<app-loading-spinner *ngIf="showSpinner" class="loading"></app-loading-spinner>